T24WSDL/services_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16_17_18.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980.--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://temenos.com/CBOCARDREGDETINP2" version="1.0">
  <xsd:complexType name="CBOCARDREGDETINP2Type">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="CUSTOMERID" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CUSTITLE" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CARDREQTYPE" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="DEBITCARDTYPE" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FIRSTNAME" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="MIDDLENAME" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="LASTNAME" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="NAMEONCARD" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ACCOUNTTYPE" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ACCURRENCY" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="MARITALSTATUS" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="GENDER" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="IDENTITYNO" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="IDENTITYTYPE" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ADDRESSTYPE" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ADDRESS" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="PHONENO" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CHARGE" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CHARGEDATE" nillable="true" type="xsd:string"/>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string"/>
  </xsd:complexType>
</xsd:schema>