T24WSDL/services.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980.--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://temenos.com/PAYMENTSTOPREVOKECBOWS" version="1.0">
  <xsd:complexType name="PAYMENTSTOPREVOKECBOWSType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="AccountCurrency" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="gPAYMSTOPTYPE">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="mPAYMSTOPTYPE">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" name="PAYMSTOPTYPE" nillable="true" type="xsd:string"/>
                  <xsd:element minOccurs="0" name="FIRSTCHEQUENO" nillable="true" type="xsd:string"/>
                  <xsd:element minOccurs="0" name="LASTCHEQUENO" nillable="true" type="xsd:string"/>
                  <xsd:element minOccurs="0" name="CHEQUETYPE" nillable="true" type="xsd:string"/>
                  <xsd:element minOccurs="0" name="STOPDATE" nillable="true" type="xsd:date"/>
                  <xsd:element minOccurs="0" name="AmountFrom" nillable="true" type="xsd:decimal"/>
                  <xsd:element minOccurs="0" name="AmountTo" nillable="true" type="xsd:decimal"/>
                  <xsd:element minOccurs="0" name="BENEFICIARY" nillable="true" type="xsd:string"/>
                  <xsd:element minOccurs="0" name="RevokeYN" nillable="true" type="xsd:string"/>
                  <xsd:element minOccurs="0" name="sgREMARKS">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="REMARKS">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element minOccurs="0" name="REMARKS" nillable="true" type="xsd:string"/>
                            </xsd:sequence>
                            <xsd:attribute name="s" type="xsd:positiveInteger"/>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                      <xsd:attribute name="sg" type="xsd:positiveInteger"/>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element minOccurs="0" name="sgCHARGECODE">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="CHARGECODE">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element minOccurs="0" name="CHARGECODE" nillable="true" type="xsd:string"/>
                              <xsd:element minOccurs="0" name="CHGACCOUNT" nillable="true" type="xsd:string"/>
                              <xsd:element minOccurs="0" name="CHGCURRENCY" nillable="true" type="xsd:string"/>
                              <xsd:element minOccurs="0" name="CHGAMOUNT" nillable="true" type="xsd:decimal"/>
                              <xsd:element minOccurs="0" name="TAXTYPE" nillable="true" type="xsd:string"/>
                              <xsd:element minOccurs="0" name="TAXAMT" nillable="true" type="xsd:decimal"/>
                              <xsd:element minOccurs="0" name="TAXCCY" nillable="true" type="xsd:string"/>
                              <xsd:element minOccurs="0" name="TAXDATE" nillable="true" type="xsd:date"/>
                            </xsd:sequence>
                            <xsd:attribute name="s" type="xsd:positiveInteger"/>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                      <xsd:attribute name="sg" type="xsd:positiveInteger"/>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="m" type="xsd:positiveInteger"/>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
          <xsd:attribute name="g" type="xsd:positiveInteger"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="CustomerID" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="gMODPSCHQNO">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="mMODPSCHQNO">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" name="ChequeNostoRevoke" nillable="true" type="xsd:string"/>
                  <xsd:element minOccurs="0" name="ChequeType" nillable="true" type="xsd:string"/>
                  <xsd:element minOccurs="0" name="StopRevokeDate" nillable="true" type="xsd:date"/>
                </xsd:sequence>
                <xsd:attribute name="m" type="xsd:positiveInteger"/>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
          <xsd:attribute name="g" type="xsd:positiveInteger"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string"/>
  </xsd:complexType>
</xsd:schema>