T24WSDL/services_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980.--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://temenos.com/CHQPRESENTEDWS" version="1.0">
  <xsd:complexType name="CHQPRESENTEDWSType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="AccountNo" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ACCNAME" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="SPACE" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ZERORECORDS" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="gCHQPRESENTEDWSDetailType">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="mCHQPRESENTEDWSDetailType">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" name="AccountNo" nillable="true" type="xsd:string"/>
                  <xsd:element minOccurs="0" name="ChequeNo" nillable="true" type="xsd:string"/>
                  <xsd:element minOccurs="0" name="BCACCTNO" nillable="true" type="xsd:string"/>
                  <xsd:element minOccurs="0" name="CHEQUES" nillable="true" type="xsd:string"/>
                  <xsd:element minOccurs="0" name="CHEQUES1" nillable="true" type="xsd:string"/>
                  <xsd:element minOccurs="0" name="ACCOUNTNO" nillable="true" type="xsd:string"/>
                  <xsd:element minOccurs="0" name="CCY" nillable="true" type="xsd:string"/>
                  <xsd:element minOccurs="0" name="CURRENCY" nillable="true" type="xsd:string"/>
                  <xsd:element minOccurs="0" name="ChequeType" nillable="true" type="xsd:string"/>
                  <xsd:element minOccurs="0" name="ChequeNum" nillable="true" type="xsd:string"/>
                  <xsd:element minOccurs="0" name="Amount" nillable="true" type="xsd:decimal"/>
                  <xsd:element minOccurs="0" name="PresentedClearedDate" nillable="true" type="xsd:date"/>
                </xsd:sequence>
                <xsd:attribute name="m" type="xsd:positiveInteger"/>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
          <xsd:attribute name="g" type="xsd:positiveInteger"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>