T24WSDL/services_1.wsdl

<?xml version="1.0" encoding="UTF-8"?><!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980.--><!--Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980.--><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="T24WebServicesImplService" targetNamespace="http://temenos.com/MMT" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://temenos.com/MMT" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <documentation>
    <appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <binding hasEncoding="false" imported="true" name="T24WebServicesImplPortBinding" originalBindingStyle="document"/>
      </MRWSDLAppInfo>
    </appinfo>
  </documentation>
  <types>
    <xsd:schema>
<xsd:import namespace="http://temenos.com/PAYMENTSTOPREVOKECBOWS" schemaLocation="services.xsd"/>
</xsd:schema>
    <xsd:schema>
<xsd:import namespace="http://temenos.com/PAYMENTSTOPINPUTWS" schemaLocation="services_1.xsd"/>
</xsd:schema>
    <xsd:schema>
<xsd:import namespace="http://temenos.com/PAYMENTSTOP" schemaLocation="services_1_2.xsd"/>
</xsd:schema>
    <xsd:schema>
<xsd:import namespace="http://temenos.com/MMT" schemaLocation="services_1_2_3.xsd"/>
</xsd:schema>
    <xsd:schema>
<xsd:import namespace="http://temenos.com/FUNDSTRANSFERACTRMMT" schemaLocation="services_1_2_3_4_5_6_7_8_9.xsd"/>
</xsd:schema>
    <xsd:schema>
<xsd:import namespace="http://temenos.com/FUNDSTRANSFER" schemaLocation="services_1_2_3_4_5_6_7_8_9_10.xsd"/>
</xsd:schema>
    <xsd:schema>
<xsd:import namespace="http://temenos.com/EMMTTXNFT" schemaLocation="services_1_2_3_4_5_6_7_8_9_10_11_12_13_14.xsd"/>
</xsd:schema>
    <xsd:schema>
<xsd:import namespace="http://temenos.com/EMMTMINISTMTDATE" schemaLocation="services_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16_17.xsd"/>
</xsd:schema>
    <xsd:schema>
<xsd:import namespace="http://temenos.com/EMMTMINISTMT" schemaLocation="services_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15.xsd"/>
</xsd:schema>
    <xsd:schema>
<xsd:import namespace="http://temenos.com/CURRENCYRATES" schemaLocation="services_1_2_3_4_5_6_7_8_9_10_11.xsd"/>
</xsd:schema>
    <xsd:schema>
<xsd:import namespace="http://temenos.com/CHQPRESENTEDWS" schemaLocation="services_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16.xsd"/>
</xsd:schema>
    <xsd:schema>
<xsd:import namespace="http://temenos.com/CHEQUEISSUEINPUTCBOWS" schemaLocation="services_1_2_3_4_5_6.xsd"/>
</xsd:schema>
    <xsd:schema>
<xsd:import namespace="http://temenos.com/CHEQUEISSUE" schemaLocation="services_1_2_3_4_5_6_7.xsd"/>
</xsd:schema>
    <xsd:schema>
<xsd:import namespace="http://temenos.com/CBOCARDREGDETINP2" schemaLocation="services_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16_17_18.xsd"/>
</xsd:schema>
    <xsd:schema>
<xsd:import namespace="http://temenos.com/CBOCARDREGDET" schemaLocation="services_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16_17_18_19.xsd"/>
</xsd:schema>
    <xsd:schema>
<xsd:import namespace="http://temenos.com/CARDISSUEDELWS" schemaLocation="services_1_2_3_4.xsd"/>
</xsd:schema>
    <xsd:schema>
<xsd:import namespace="http://temenos.com/CARDISSUE" schemaLocation="services_1_2_3_4_5.xsd"/>
</xsd:schema>
    <xsd:schema>
<xsd:import namespace="http://temenos.com/ACCTVIEW" schemaLocation="services_1_2_3_4_5_6_7_8_9_10_11_12.xsd"/>
</xsd:schema>
    <xsd:schema>
<xsd:import namespace="http://temenos.com/ACCTCOMPANYVIEW" schemaLocation="services_1_2_3_4_5_6_7_8.xsd"/>
</xsd:schema>
    <xsd:schema>
<xsd:import namespace="http://temenos.com/ACCTBALCTS" schemaLocation="services_1_2_3_4_5_6_7_8_9_10_11_12_13.xsd"/>
</xsd:schema>
    <xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="services_1_2_3_4_5_6_7_8_9_10_11_12_13_14_15_16_17_18_19_20.xsd"/>
</xsd:schema>
  </types>
  <message name="callOfs">
    <part element="tns:callOfs" name="parameters"/>
  </message>
  <message name="callOfsResponse">
    <part element="tns:callOfsResponse" name="parameters"/>
  </message>
  <message name="DEBITCARDREQUEST">
    <part element="tns:DEBITCARDREQUEST" name="parameters"/>
  </message>
  <message name="DEBITCARDREQUESTResponse">
    <part element="tns:DEBITCARDREQUESTResponse" name="parameters"/>
  </message>
  <message name="DEBITCARDREQUEST_Validate">
    <part element="tns:DEBITCARDREQUEST_Validate" name="parameters"/>
  </message>
  <message name="DEBITCARDREQUEST_ValidateResponse">
    <part element="tns:DEBITCARDREQUEST_ValidateResponse" name="parameters"/>
  </message>
  <message name="STOPPAYMENTCHEQUE">
    <part element="tns:STOPPAYMENTCHEQUE" name="parameters"/>
  </message>
  <message name="STOPPAYMENTCHEQUEResponse">
    <part element="tns:STOPPAYMENTCHEQUEResponse" name="parameters"/>
  </message>
  <message name="STOPPAYMENTCHEQUE_Validate">
    <part element="tns:STOPPAYMENTCHEQUE_Validate" name="parameters"/>
  </message>
  <message name="STOPPAYMENTCHEQUE_ValidateResponse">
    <part element="tns:STOPPAYMENTCHEQUE_ValidateResponse" name="parameters"/>
  </message>
  <message name="STMTDATE">
    <part element="tns:STMTDATE" name="parameters"/>
  </message>
  <message name="STMTDATEResponse">
    <part element="tns:STMTDATEResponse" name="parameters"/>
  </message>
  <message name="CHEQUESTATUS">
    <part element="tns:CHEQUESTATUS" name="parameters"/>
  </message>
  <message name="CHEQUESTATUSResponse">
    <part element="tns:CHEQUESTATUSResponse" name="parameters"/>
  </message>
  <message name="MMTFTVIEW">
    <part element="tns:MMTFTVIEW" name="parameters"/>
  </message>
  <message name="MMTFTVIEWResponse">
    <part element="tns:MMTFTVIEWResponse" name="parameters"/>
  </message>
  <message name="REVOKESTOPPAYMENTCHEQUE">
    <part element="tns:REVOKESTOPPAYMENTCHEQUE" name="parameters"/>
  </message>
  <message name="REVOKESTOPPAYMENTCHEQUEResponse">
    <part element="tns:REVOKESTOPPAYMENTCHEQUEResponse" name="parameters"/>
  </message>
  <message name="REVOKESTOPPAYMENTCHEQUE_Validate">
    <part element="tns:REVOKESTOPPAYMENTCHEQUE_Validate" name="parameters"/>
  </message>
  <message name="REVOKESTOPPAYMENTCHEQUE_ValidateResponse">
    <part element="tns:REVOKESTOPPAYMENTCHEQUE_ValidateResponse" name="parameters"/>
  </message>
  <message name="MMTSTMT">
    <part element="tns:MMTSTMT" name="parameters"/>
  </message>
  <message name="MMTSTMTResponse">
    <part element="tns:MMTSTMTResponse" name="parameters"/>
  </message>
  <message name="CURRENCYRATES">
    <part element="tns:CURRENCYRATES" name="parameters"/>
  </message>
  <message name="CURRENCYRATESResponse">
    <part element="tns:CURRENCYRATESResponse" name="parameters"/>
  </message>
  <message name="MMTACCTBALANCE">
    <part element="tns:MMTACCTBALANCE" name="parameters"/>
  </message>
  <message name="MMTACCTBALANCEResponse">
    <part element="tns:MMTACCTBALANCEResponse" name="parameters"/>
  </message>
  <message name="ACCOUNTVIEW">
    <part element="tns:ACCOUNTVIEW" name="parameters"/>
  </message>
  <message name="ACCOUNTVIEWResponse">
    <part element="tns:ACCOUNTVIEWResponse" name="parameters"/>
  </message>
  <message name="ACCTBRANCH">
    <part element="tns:ACCTBRANCH" name="parameters"/>
  </message>
  <message name="ACCTBRANCHResponse">
    <part element="tns:ACCTBRANCHResponse" name="parameters"/>
  </message>
  <message name="MMTACCTTXN">
    <part element="tns:MMTACCTTXN" name="parameters"/>
  </message>
  <message name="MMTACCTTXNResponse">
    <part element="tns:MMTACCTTXNResponse" name="parameters"/>
  </message>
  <message name="MMTACCTTXN_Validate">
    <part element="tns:MMTACCTTXN_Validate" name="parameters"/>
  </message>
  <message name="MMTACCTTXN_ValidateResponse">
    <part element="tns:MMTACCTTXN_ValidateResponse" name="parameters"/>
  </message>
  <message name="CancelDebitCard">
    <part element="tns:CancelDebitCard" name="parameters"/>
  </message>
  <message name="CancelDebitCardResponse">
    <part element="tns:CancelDebitCardResponse" name="parameters"/>
  </message>
  <message name="CancelDebitCard_Validate">
    <part element="tns:CancelDebitCard_Validate" name="parameters"/>
  </message>
  <message name="CancelDebitCard_ValidateResponse">
    <part element="tns:CancelDebitCard_ValidateResponse" name="parameters"/>
  </message>
  <message name="CHEQUEBOOKREQUEST">
    <part element="tns:CHEQUEBOOKREQUEST" name="parameters"/>
  </message>
  <message name="CHEQUEBOOKREQUESTResponse">
    <part element="tns:CHEQUEBOOKREQUESTResponse" name="parameters"/>
  </message>
  <message name="CHEQUEBOOKREQUEST_Validate">
    <part element="tns:CHEQUEBOOKREQUEST_Validate" name="parameters"/>
  </message>
  <message name="CHEQUEBOOKREQUEST_ValidateResponse">
    <part element="tns:CHEQUEBOOKREQUEST_ValidateResponse" name="parameters"/>
  </message>
  <portType name="T24WebServicesImpl">
    <operation name="callOfs">
      <input message="tns:callOfs" wsam:Action="http://temenos.com/MMT/T24WebServicesImpl/callOfsRequest"/>
      <output message="tns:callOfsResponse" wsam:Action="http://temenos.com/MMT/T24WebServicesImpl/callOfsResponse"/>
    </operation>
    <operation name="DEBITCARDREQUEST">
      <input message="tns:DEBITCARDREQUEST" wsam:Action="http://temenos.com/MMT/T24WebServicesImpl/DEBITCARDREQUESTRequest"/>
      <output message="tns:DEBITCARDREQUESTResponse" wsam:Action="http://temenos.com/MMT/T24WebServicesImpl/DEBITCARDREQUESTResponse"/>
    </operation>
    <operation name="DEBITCARDREQUEST_Validate">
      <input message="tns:DEBITCARDREQUEST_Validate" wsam:Action="http://temenos.com/MMT/T24WebServicesImpl/DEBITCARDREQUEST_ValidateRequest"/>
      <output message="tns:DEBITCARDREQUEST_ValidateResponse" wsam:Action="http://temenos.com/MMT/T24WebServicesImpl/DEBITCARDREQUEST_ValidateResponse"/>
    </operation>
    <operation name="STOPPAYMENTCHEQUE">
      <input message="tns:STOPPAYMENTCHEQUE" wsam:Action="http://temenos.com/MMT/T24WebServicesImpl/STOPPAYMENTCHEQUERequest"/>
      <output message="tns:STOPPAYMENTCHEQUEResponse" wsam:Action="http://temenos.com/MMT/T24WebServicesImpl/STOPPAYMENTCHEQUEResponse"/>
    </operation>
    <operation name="STOPPAYMENTCHEQUE_Validate">
      <input message="tns:STOPPAYMENTCHEQUE_Validate" wsam:Action="http://temenos.com/MMT/T24WebServicesImpl/STOPPAYMENTCHEQUE_ValidateRequest"/>
      <output message="tns:STOPPAYMENTCHEQUE_ValidateResponse" wsam:Action="http://temenos.com/MMT/T24WebServicesImpl/STOPPAYMENTCHEQUE_ValidateResponse"/>
    </operation>
    <operation name="STMTDATE">
      <input message="tns:STMTDATE" wsam:Action="http://temenos.com/MMT/T24WebServicesImpl/STMTDATERequest"/>
      <output message="tns:STMTDATEResponse" wsam:Action="http://temenos.com/MMT/T24WebServicesImpl/STMTDATEResponse"/>
    </operation>
    <operation name="CHEQUESTATUS">
      <input message="tns:CHEQUESTATUS" wsam:Action="http://temenos.com/MMT/T24WebServicesImpl/CHEQUESTATUSRequest"/>
      <output message="tns:CHEQUESTATUSResponse" wsam:Action="http://temenos.com/MMT/T24WebServicesImpl/CHEQUESTATUSResponse"/>
    </operation>
    <operation name="MMTFTVIEW">
      <input message="tns:MMTFTVIEW" wsam:Action="http://temenos.com/MMT/T24WebServicesImpl/MMTFTVIEWRequest"/>
      <output message="tns:MMTFTVIEWResponse" wsam:Action="http://temenos.com/MMT/T24WebServicesImpl/MMTFTVIEWResponse"/>
    </operation>
    <operation name="REVOKESTOPPAYMENTCHEQUE">
      <input message="tns:REVOKESTOPPAYMENTCHEQUE" wsam:Action="http://temenos.com/MMT/T24WebServicesImpl/REVOKESTOPPAYMENTCHEQUERequest"/>
      <output message="tns:REVOKESTOPPAYMENTCHEQUEResponse" wsam:Action="http://temenos.com/MMT/T24WebServicesImpl/REVOKESTOPPAYMENTCHEQUEResponse"/>
    </operation>
    <operation name="REVOKESTOPPAYMENTCHEQUE_Validate">
      <input message="tns:REVOKESTOPPAYMENTCHEQUE_Validate" wsam:Action="http://temenos.com/MMT/T24WebServicesImpl/REVOKESTOPPAYMENTCHEQUE_ValidateRequest"/>
      <output message="tns:REVOKESTOPPAYMENTCHEQUE_ValidateResponse" wsam:Action="http://temenos.com/MMT/T24WebServicesImpl/REVOKESTOPPAYMENTCHEQUE_ValidateResponse"/>
    </operation>
    <operation name="MMTSTMT">
      <input message="tns:MMTSTMT" wsam:Action="http://temenos.com/MMT/T24WebServicesImpl/MMTSTMTRequest"/>
      <output message="tns:MMTSTMTResponse" wsam:Action="http://temenos.com/MMT/T24WebServicesImpl/MMTSTMTResponse"/>
    </operation>
    <operation name="CURRENCYRATES">
      <input message="tns:CURRENCYRATES" wsam:Action="http://temenos.com/MMT/T24WebServicesImpl/CURRENCYRATESRequest"/>
      <output message="tns:CURRENCYRATESResponse" wsam:Action="http://temenos.com/MMT/T24WebServicesImpl/CURRENCYRATESResponse"/>
    </operation>
    <operation name="MMTACCTBALANCE">
      <input message="tns:MMTACCTBALANCE" wsam:Action="http://temenos.com/MMT/T24WebServicesImpl/MMTACCTBALANCERequest"/>
      <output message="tns:MMTACCTBALANCEResponse" wsam:Action="http://temenos.com/MMT/T24WebServicesImpl/MMTACCTBALANCEResponse"/>
    </operation>
    <operation name="ACCOUNTVIEW">
      <input message="tns:ACCOUNTVIEW" wsam:Action="http://temenos.com/MMT/T24WebServicesImpl/ACCOUNTVIEWRequest"/>
      <output message="tns:ACCOUNTVIEWResponse" wsam:Action="http://temenos.com/MMT/T24WebServicesImpl/ACCOUNTVIEWResponse"/>
    </operation>
    <operation name="ACCTBRANCH">
      <input message="tns:ACCTBRANCH" wsam:Action="http://temenos.com/MMT/T24WebServicesImpl/ACCTBRANCHRequest"/>
      <output message="tns:ACCTBRANCHResponse" wsam:Action="http://temenos.com/MMT/T24WebServicesImpl/ACCTBRANCHResponse"/>
    </operation>
    <operation name="MMTACCTTXN">
      <input message="tns:MMTACCTTXN" wsam:Action="http://temenos.com/MMT/T24WebServicesImpl/MMTACCTTXNRequest"/>
      <output message="tns:MMTACCTTXNResponse" wsam:Action="http://temenos.com/MMT/T24WebServicesImpl/MMTACCTTXNResponse"/>
    </operation>
    <operation name="MMTACCTTXN_Validate">
      <input message="tns:MMTACCTTXN_Validate" wsam:Action="http://temenos.com/MMT/T24WebServicesImpl/MMTACCTTXN_ValidateRequest"/>
      <output message="tns:MMTACCTTXN_ValidateResponse" wsam:Action="http://temenos.com/MMT/T24WebServicesImpl/MMTACCTTXN_ValidateResponse"/>
    </operation>
    <operation name="CancelDebitCard">
      <input message="tns:CancelDebitCard" wsam:Action="http://temenos.com/MMT/T24WebServicesImpl/CancelDebitCardRequest"/>
      <output message="tns:CancelDebitCardResponse" wsam:Action="http://temenos.com/MMT/T24WebServicesImpl/CancelDebitCardResponse"/>
    </operation>
    <operation name="CancelDebitCard_Validate">
      <input message="tns:CancelDebitCard_Validate" wsam:Action="http://temenos.com/MMT/T24WebServicesImpl/CancelDebitCard_ValidateRequest"/>
      <output message="tns:CancelDebitCard_ValidateResponse" wsam:Action="http://temenos.com/MMT/T24WebServicesImpl/CancelDebitCard_ValidateResponse"/>
    </operation>
    <operation name="CHEQUEBOOKREQUEST">
      <input message="tns:CHEQUEBOOKREQUEST" wsam:Action="http://temenos.com/MMT/T24WebServicesImpl/CHEQUEBOOKREQUESTRequest"/>
      <output message="tns:CHEQUEBOOKREQUESTResponse" wsam:Action="http://temenos.com/MMT/T24WebServicesImpl/CHEQUEBOOKREQUESTResponse"/>
    </operation>
    <operation name="CHEQUEBOOKREQUEST_Validate">
      <input message="tns:CHEQUEBOOKREQUEST_Validate" wsam:Action="http://temenos.com/MMT/T24WebServicesImpl/CHEQUEBOOKREQUEST_ValidateRequest"/>
      <output message="tns:CHEQUEBOOKREQUEST_ValidateResponse" wsam:Action="http://temenos.com/MMT/T24WebServicesImpl/CHEQUEBOOKREQUEST_ValidateResponse"/>
    </operation>
  </portType>
  <binding name="T24WebServicesImplPortBinding" type="tns:T24WebServicesImpl">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="callOfs">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DEBITCARDREQUEST">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DEBITCARDREQUEST_Validate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="STOPPAYMENTCHEQUE">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="STOPPAYMENTCHEQUE_Validate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="STMTDATE">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CHEQUESTATUS">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="MMTFTVIEW">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="REVOKESTOPPAYMENTCHEQUE">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="REVOKESTOPPAYMENTCHEQUE_Validate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="MMTSTMT">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CURRENCYRATES">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="MMTACCTBALANCE">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ACCOUNTVIEW">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ACCTBRANCH">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="MMTACCTTXN">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="MMTACCTTXN_Validate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CancelDebitCard">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CancelDebitCard_Validate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CHEQUEBOOKREQUEST">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CHEQUEBOOKREQUEST_Validate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="T24WebServicesImplService">
    <port binding="tns:T24WebServicesImplPortBinding" name="T24WebServicesImplPort">
      <soap:address location="http://10.1.245.189:9080/TWSMMT/services"/>
    </port>
  </service>
</definitions>