T24WSDL/services_1_2_3_4_5_6_7.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980.--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://temenos.com/CHEQUEISSUE" version="1.0">
  <xsd:complexType name="CHEQUEISSUEType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="CHEQUESTATUS" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="ISSUEDATE" nillable="true" type="xsd:date"/>
      <xsd:element minOccurs="0" name="NUMBERISSUED" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CURRENCY" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CHARGES" nillable="true" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="CHARGEDATE" nillable="true" type="xsd:date"/>
      <xsd:element minOccurs="0" name="STOCKREG" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="SERIESID" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CHQNOSTART" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="gNOTES">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="NOTES" nillable="true" type="xsd:string"/>
          </xsd:sequence>
          <xsd:attribute name="g" type="xsd:positiveInteger"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="gCHGCODE">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="mCHGCODE">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" name="CHGCODE" nillable="true" type="xsd:string"/>
                  <xsd:element minOccurs="0" name="CHGAMOUNT" nillable="true" type="xsd:decimal"/>
                </xsd:sequence>
                <xsd:attribute name="m" type="xsd:positiveInteger"/>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
          <xsd:attribute name="g" type="xsd:positiveInteger"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="gTAXCODE">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="mTAXCODE">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" name="TAXCODE" nillable="true" type="xsd:string"/>
                  <xsd:element minOccurs="0" name="TAXAMT" nillable="true" type="xsd:decimal"/>
                </xsd:sequence>
                <xsd:attribute name="m" type="xsd:positiveInteger"/>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
          <xsd:attribute name="g" type="xsd:positiveInteger"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="WAIVECHARGES" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="gCLASSTYPE">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="mCLASSTYPE">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" name="CLASSTYPE" nillable="true" type="xsd:string"/>
                  <xsd:element minOccurs="0" name="MESSAGECLASS" nillable="true" type="xsd:string"/>
                </xsd:sequence>
                <xsd:attribute name="m" type="xsd:positiveInteger"/>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
          <xsd:attribute name="g" type="xsd:positiveInteger"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="ACTIVITY" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="gDELIVERYREF">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="DELIVERYREF" nillable="true" type="xsd:string"/>
          </xsd:sequence>
          <xsd:attribute name="g" type="xsd:positiveInteger"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="AUTOCHEQUENUMBER" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="RESERVED9" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="RESERVED8" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="RESERVED7" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="RESERVED6" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="RESERVED5" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="RESERVED4" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="RESERVED3" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="RESERVED2" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="RESERVED1" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="gSTMTNO">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="STMTNO" nillable="true" type="xsd:string"/>
          </xsd:sequence>
          <xsd:attribute name="g" type="xsd:positiveInteger"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="gOVERRIDE">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="OVERRIDE" nillable="true" type="xsd:string"/>
          </xsd:sequence>
          <xsd:attribute name="g" type="xsd:positiveInteger"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="RECORDSTATUS" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="CURRNO" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="gINPUTTER">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="INPUTTER" nillable="true" type="xsd:string"/>
          </xsd:sequence>
          <xsd:attribute name="g" type="xsd:positiveInteger"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="gDATETIME">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="DATETIME" nillable="true" type="xsd:string"/>
          </xsd:sequence>
          <xsd:attribute name="g" type="xsd:positiveInteger"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="AUTHORISER" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="COCODE" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="DEPTCODE" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="AUDITORCODE" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="AUDITDATETIME" nillable="true" type="xsd:string"/>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string"/>
  </xsd:complexType>
</xsd:schema>